@model proera.encaissements

@{
    ViewBag.Title = "Index";
}

<h2>Arrete de Caisse</h2>


    <div class="col">
        <div class="form-group">
            <label class="control-label col">Selectionnez le Bordereau</label>
            <div class="col-md-10">
                @Html.DropDownList("bordereaux", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

    </div>

    <button type="button" id="btnArreterCaisse" class="btn btn-warning">Fermer la Caisse</button> <br /><br />



    @*<h3 id="facturespayees">payees</h3>
    <h3 id="facturesimpayees">impayees</h3>*@

<div class="row">
    <div class="col-4">
        Montant Encaissé : <h3 id="montantencaisse"></h3><br /><br />
    </div>
    
    <div class="col-4">
        Montant du Bordereau : <h3 id="montantbordereau"></h3><br /><br />
    </div>
    
    <div class="col-4">
        Ecart : <h3 id="ecart"></h3><br /><br />
    </div>
</div>

                           <table id="tablebody" class="table table-bordered table-striped table-sm">
                               <thead>
                                   <tr>
                                       <th>
                                           Ref Client
                                       </th>
                                       <th>
                                           Nom
                                       </th>
                                       <th>
                                          Prenom
                                       </th>
                                       <th>
                                           Num Recu
                                       </th>
                                       <th>
                                           Montant Encaissé
                                       </th>
                                       <th>
                                           Solde Prepaiement
                                       </th>
                                       <th>
                                           Solde PostPaiement
                                       </th>
                                       <th>
                                           Date
                                       </th>
                                       <th>
                                           ID Facture
                                       </th>
                                   </tr>
                               </thead>

                               <tbody id="bodytable">
                               </tbody>



                           </table>








    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#bordereaux").prepend("<option selected value=''>Selectionnez la Periode</option>")
            $("#bordereaux").change(function () {
                @*alert($("#bordereaux").val())*@
                data = {
                    id: $("#bordereaux").val()
                }



                $.ajax({
                    type: "POST",
                    url: "/encaissements/changementbordereaux",
                    data: data,
                    success: function (data) {
                        @*alert(data)*@
                        $("#bodytable").empty().append(data.table)
                        $("#montantencaisse").html(data.montantencaisse)
                        $("#montantbordereau").html(data.montantbordereau)
                        $("#ecart").html(data.ecart)
                    },
                    error: function () {
                    }
                });
            });

            $("#btnArreterCaisse").click(function () {
                @* alert($("#bordereaux").val()) *@
                data = {
                    id: $("#bordereaux").val()
                }



                $.ajax({
                    type: "POST",
                    url: "/encaissements/validerCloture",
                    data: data,
                    success: function (data) {
                        if (data.ok == 1) {
                            alert(data.message)
                            $("#bordereaux").empty().append(data.bordereaux)
                        } else {
                            alert(data.message)
                        }
                    },
                    error: function () {
                    }
                });
            });

            
        });
    </script>
