@model bordereaux

@{
    ViewBag.Title = "Modif Encaissement";
}

<h2>Modif Encaissement</h2>


<div class="form-group">
    @Html.LabelFor(model => model.numero, "Numero", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("numero", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.numero, "", new { @class = "text-danger" })
    </div>
</div>

<table id="tablebody" class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>
                Ref Client
            </th>
            <th>
                Nom
            </th>
            <th>
                Prenom
            </th>
            <th>
                Village
            </th>
            <th>
                Montant
            </th>
            <th>
                Solde Prepaiement
            </th>
            <th>
                Solde PostPaiement
            </th>
            <th>
                Date Encaissement
            </th>
            <th>
                Commentaire
            </th>
            <th>
                Id Facture
            </th>
            <th></th>
        </tr>
    </thead>
   
    <tbody id="tableData">
        
    </tbody>

   

</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Correction Encaissement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <hr />
                    <div class="form-group">
                        <label class="control-label col">Ancien Montant</label>
                        <div class="col-md-10">
                            <input type="number" readonly name="ancienmontant" id="ancienmontant" class="form-control" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col">Nouveau Montant</label>
                        <div class="col-md-10">
                            <input type="number" name="nouveaumontant" id="nouveaumontant" class="form-control" />
                        </div>

                    </div>

                    <input type="hidden" name="idfacture" id="idfacture" />

                    <input type="hidden" name="numerobordereau" id="numerobordereau" />
                    <input type="hidden" name="idenc" id="idenc" />

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="savemodif" data-dismiss="modal" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#numero").prepend("<option value='' selected>Selectionnez le bordereau</option>")

        $("#numero").change(function () {
            data = {
                id: $("#numero").val()
            }



            $.ajax({
                type: "POST",
                url: "/encaissements/changementbordereaux2",
                data: data,
                success: function (data) {
                    @* alert(data) *@
                    $("#tableData").empty().append(data.table)

                    $('#tablebody').DataTable({
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/French.json"
                        }
                    });



                    $('[id^=btncorrigerreleve]').click(function () {
                        @*alert($(this).attr("refclient"))*@
                    @*alert("Corect Clicked")*@

                        $("#ancienmontant").val($(this).attr("ancienmontant"))
                        $("#idfacture").val($(this).attr("idfacture"))
                        $("#numerobordereau").val($(this).attr("numerobordereau"))
                        $("#idenc").val($(this).attr("idenc"))
                        $("#exampleModal").modal('show')
                    })
                },
                error: function () {
                }
            });
        })

        $("#savemodif").click(function () {
            data = {
                ancienmontant: $("#ancienmontant").val(),
                nouveaumontant: $("#nouveaumontant").val(),
                idfacture: $("#idfacture").val(),
                numerobordereau: $("#numerobordereau").val(),
                idenc: $("#idenc").val()
            }



            $.ajax({
                type: "POST",
                url: "/encaissements/savechangement",
                data: data,
                success: function (data) {
                    alert(data.message) 
                    $("#ancienmontant").val("")
                    $("#nouveaumontant").val("")
                    $("#idfacture").val("")
                    $("#numerobordereau").val("")
                    $("#idenc").val("")

                    data = {
                        id: $("#numero").val()
                    }



                    $.ajax({
                        type: "POST",
                        url: "/encaissements/changementbordereaux2",
                        data: data,
                        success: function (data) {
                            @* alert(data) *@
                            $("#tableData").empty().append(data.table)

                            $('#tablebody').DataTable({
                                "language": {
                                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/French.json"
                                }
                            });



                            $('[id^=btncorrigerreleve]').click(function () {
                                @* alert($(this).attr("refclient")) *@
                    @* alert("Corect Clicked") *@

                                $("#ancienmontant").val($(this).attr("ancienmontant"))
                                $("#idfacture").val($(this).attr("idfacture"))
                                $("#numerobordereau").val($(this).attr("numerobordereau"))
                                $("#idenc").val($(this).attr("idenc"))
                                $("#exampleModal").modal('show')
                            })
                        },
                        error: function () {
                        }
                    });
                },
                error: function () {
                }
            });
        })



    });
</script>
