@model proera.clients

@{
    ViewBag.Title = "Creation";
}
<br />
<h2>Changement d'interface</h2>
<div class="form-horizonal">
    <div class="form-group">
        <label class="control-label col">Entrez la Reference</label>
        <div class="col-md-10">
            <input type="text" id="refclient" class="form-control" />
        </div>
    </div>
</div>


<div id="detailsclient" hidden>
    <div class="row">

        <div class="col">
            <p>
                Nom :
            </p>

            <p id="ddNom">

            </p>
        </div>

        <div class="col">
            
                Ancienne Interface :
            

            <input type="text" readonly id="oldInterface" class="form-control" />
        </div>

        <div class="col">
            
                Nouvelle Interface : 
            


            <input type="text" id="newInterface" class="form-control" />
        </div>

    </div>
    <br />
    <div class="row">

        <div class="col">
            <p>
                Index Depose
            </p>

            <input type="number" id="indexdepose" class="form-control" />
        </div> 

        <div class="col">
            <p>
                Index Pose
            </p>


            <input type="number" id="indexpose" class="form-control" />
        </div>
        
        <div class="col">
            <p>
                Motif
            </p>


            <input  id="motif" type="text" class="form-control" />
        </div> 


        <div class="col">
            <p>
                Date
            </p>


            <input type="date" id="date" class="form-control" />
        </div>

        @*<div class="col">
            <p>
                Telephone
            </p>

            <p id="ddTelephone">

            </p>
        </div>*@

    </div>
    <br />
    <br />

    <button class="btn btn-success" id="btnChanger">Changer</button>
</div>






<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    //alert("ref changed")

    $(document).ready(function () {
        //alert("ref changed")
        
        $("#refclient").change(function () {
            //alert($("#nivpuissance").val())
            //alert("ref changed")

            
            data = {
                Reference_Contrat: $("#refclient").val()
            }
            $.ajax({
                type: "POST",
                url: "/clients/changementRefInterface",
                data: data,
                success: function (data2) {
                    if (data2.message == "trouve") {
                        $("#ddNom").html(data2.nom)
                        $("#oldInterface").val(data2.oldInterface)

                        $("#detailsclient").attr("hidden", false)

                    } else {

                        $("#detailsclient").attr("hidden", true)

                        alert("Reference du client incorrecte !!")
                    }
                },
                error: function () {
                    alert("Error occured!!")
                }
            });
        });



        
        $("#btnChanger").click(function () {
            data = {
                oldinterface: $("#oldInterface").val(),
                newinterface: $("#newInterface").val(),
                indexdepose: $("#indexdepose").val(),
                indexpose: $("#indexpose").val(),
                refclient: $("#refclient").val(),
                date: $("#date").val(),
                motif: $("#motif").val(),
            }
            $.ajax({
                type: "POST",
                url: "/clients/validerChangementInterface",
                data: data,
                success: function (data) {
                    $("#oldInterface").val("")
                    $("#newInterface").val("")
                    $("#indexdepose").val("")
                    $("#indexpose").val("")
                    $("#refclient").val("")
                    $("#date").val("")
                    $("#motif").val("")
                    alert(data.message)
                },
                error: function () {
                    alert("Error occured!!")
                }
            });
        }); 

    });



</script>

